extends layout

block content
  .enfos-be-together-section.mdl-typography--text-center
    .logo-font.enfos-slogan Le jeu de plateau
    .logo-font.enfos-create-character
    a( id="heroes-link")
      button.enfos-fab.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
        i.material-icons expand_more
  .mdl-grid.mdl-center.heroes
    .heros-class.mdl-cell.mdl-cell--4-col.mdl-center
      .heros-title Guerriers
      .heros-description Hachez, coupez, faites rempart pour aider vos compagnons
    .heros-class.mdl-cell.mdl-cell--4-col
      .heros-title Mages
      .heros-description Lancez de puissant sort pour tuer des monstres ou entraver vos adversaires
    .heros-class.mdl-cell.mdl-cell--4-col
      .heros-title Assassins
      .heros-description Roi des coups de putes 
  .heroes-section
    a(id='heroes')
    .demo1.bss-slides 
      figure
        img(src="http://lorempixel.com/984/300/cats/1", width="100%")
        figcaption Djo le crado
      figure
        img(src="http://lorempixel.com/984/300/cats/2", width="100%")
        figcaption Remy le zarbi
      figure
        img(src="http://lorempixel.com/984/300/cats/3", width="100%")
        figcaption Seb le ???
      figure
        img(src="http://lorempixel.com/984/300/cats/4", width="100%")
        figcaption Joël la tourterelle
      figure
        img(src="http://lorempixel.com/984/300/cats/5", width="100%")
        figcaption Tonio le pti gros
  .enfos-customized-section
    .enfos-customized-section-text
      .mdl-typography--font-light.mdl-typography--display-1-color-contrast Et survivez !
      p.mdl-typography--font-light
        | Résistez aux vagues de monstres
        br
        | Pourrissez l'équipe ennemie
    .enfos-customized-section-image
    
  .enfos-more-section
    .enfos-section-title.mdl-typography--display-1-color-contrast L'équipe
    .enfos-card-container.mdl-grid.mdl-center
      .mdl-cell.mdl-cell--3-offset-desktop.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
        .mdl-card__media
          img(src='images/more-from-2.png')
        .mdl-card__title
          h4.mdl-card__title-text Règles 
        .mdl-card__supporting-text
          span.mdl-typography--font-light.mdl-typography--subhead
            | A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.
        .mdl-card__actions
      .mdl-cell.mdl-cell--3-offset-desktop.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
        .mdl-card__media
          img(src='images/more-from-2.png')
        .mdl-card__title
          h4.mdl-card__title-text Héros
        .mdl-card__supporting-text
          span.mdl-typography--font-light.mdl-typography--subhead
            | A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.
        .mdl-card__actions
      .mdl-cell.mdl-cell--3-offset-desktop.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
        .mdl-card__media
          img(src='images/more-from-2.png')
        .mdl-card__title
          h4.mdl-card__title-text Equipe
        .mdl-card__supporting-text
          span.mdl-typography--font-light.mdl-typography--subhead
            | A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.
        .mdl-card__actions
      .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
        .mdl-card__media
          img(src='images/help.jpg', height='200px')
        .mdl-card__title
          h4.mdl-card__title-text Nous aider
        .mdl-card__supporting-text
          span.mdl-typography--font-light.mdl-typography--subhead
            | Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your enfos device uniquely yours.
        .mdl-card__actions
block script
  script(src="/javascripts/index.js")
