
.demo-card-image.mdl-card {
  background: url('/images/help.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: #2A2A2A;
  color: white;
}
/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}
::-moz-selection {
  background-color: #FFCF00;
  color: #fff;
}
::selection {
  background-color: #FFCF00;
  color: #fff;
}
.enfos-search-box .mdl-textfield__input {
  color: #FFCF00;
}
.enfos-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}
.mdl-textfield--expandable {
  width: auto;
}
.enfos-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #FFCF00 !important;
  color: black !important;
}
.enfos-mobile-title {
  display: none !important;
}
.enfos-logo-image {
  height: 28px;
  width: 140px;
}
.enfos-header {
  overflow: visible;
  background-color: #2A2A2A;
  color: #FFCF00;
}
.mdl-layout__drawer .mdl-layout-title {
  background-color: #2A2A2A;
}
.enfos-header .material-icons {
  color: #767777 !important;
}
.enfos-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}
.enfos-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}
.enfos-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.enfos-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}
.enfos-search-box.is-focused + .enfos-navigation-container {
  opacity: 0;
  width: 100px;
}
.enfos-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.enfos-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #FFCF00;
}
.enfos-search-box {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}
.enfos-more-button {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.enfos-drawer {
  border-right: none;
}
.enfos-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}
.enfos-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}
.enfos-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #FFCF00;
}
.enfos-drawer .mdl-layout-title {
  position: relative;
  background: #FFCF00;
  height: 160px;
}
.enfos-drawer .enfos-logo-image {
  position: absolute;
  bottom: 16px;
}
.enfos-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background: url('http://lorempixel.com/860/480/abstract/1/') center 30% no-repeat;
  background-size: cover;
}
.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  font-weight: 500;
}
.enfos-slogan {
  font-size: 60px;
  padding-top: 160px;
}
.enfos-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}
.enfos-create-character {
  font-size: 21px;
  padding-top: 400px;
}
.enfos-create-character a {
  text-decoration: none;
  color: #767777;
  font-weight: 300;
}
.enfos-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}
.enfos-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.enfos-screen {
  text-align: center;
}
.enfos-screen .enfos-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}
.enfos-image-link {
  text-decoration: none;
}
.enfos-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}
.enfos-wear .enfos-screen-image {
  width: 40%;
  z-index: 1;
}
.enfos-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}
.enfos-phone .enfos-screen-image {
  width: 100%;
  z-index: 1;
}
.enfos-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}
.enfos-tablet .enfos-screen-image {
  width: 100%;
  z-index: 1;
}
.enfos-tablet .enfos-link {
  display: block;
  z-index: 2;
}
.enfos-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}
.enfos-tv .enfos-screen-image {
  width: 100%;
  z-index: 1;
}
.enfos-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}
.enfos-auto .enfos-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}
.heroes-section {
  position: relative;
  background-size: cover;
}
.enfos-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}
.enfos-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}
.enfos-wear-band-text p {
  padding-top: 8px;
}
.enfos-link {
  text-decoration: none;
  color: #cca600;
}
.enfos-link:hover {
  color: #997c00;
}
.enfos-link .material-icons {
  position: relative;
  top: 6px;
}
.enfos-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}
.enfos-alt-link:hover {
  color: #00bfa5 !important;
}
.enfos-alt-link .material-icons {
  position: relative;
  top: 6px;
}
.enfos-customized-section {
  text-align: center;
}
.enfos-customized-section-text {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 16px 0 16px;
}
.enfos-customized-section-text p {
  padding-top: 16px;
}
.enfos-customized-section-image {
  background: url('/images/bg2.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}
.enfos-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}
.enfos-more-section .enfos-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}
.enfos-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}
.enfos-card-container .mdl-card__media img {
  width: 100%;
}
.enfos-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}
.enfos-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}
.enfos-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 48px;
}
.enfos-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}
.enfos-card-container .mdl-card__actions a {
  border-top: none;
  line-height: 32px;
  font-size: 16px;
}
.enfos-footer {
  background-color: #b39100;
  color: #2A2A2A;
  position: relative;
}
.enfos-footer .enfos-link {
  color: #2A2A2A;
}
.enfos-footer a:hover {
  color: #FFCF00;
}
.enfos-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}
.enfos-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}
.enfos-footer .mdl-mega-footer--bottom-section {
  position: relative;
}
.enfos-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}
.enfos-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}
.enfos-link-menu:hover {
  cursor: pointer;
}
/**** Mobile layout ****/
@media (max-width: 900px) {
  .enfos-navigation-container {
    display: none;
  }
  .enfos-title {
    display: none !important;
  }
  .enfos-mobile-title {
    position: absolute;
    left: calc(-20%);
    top: 12px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .enfos.enfos-search-box.is-focused ~ .enfos-mobile-title,
  .enfos-search-box.is-focused + .enfos-navigation-container + .enfos-mobile-title {
    opacity: 0;
  }
  .enfos-more-button {
    display: none;
  }
  .enfos-search-box.is-focused {
    width: calc(52%);
  }
  .enfos-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }
  .enfos-be-together-section {
    height: 350px;
  }
  .enfos-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }
  .enfos-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }
  .enfos-create-character {
    padding-top: 200px;
    font-size: 16px;
  }
  .enfos-create-character img {
    height: 12px;
  }
  .enfos-fab {
    display: none;
  }
  .enfos-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }
  .enfos-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
.heroes {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.heroes .heros-title {
  color: #FFCF00;
  font-size: 30px;
}
.heroes .heros-description {
  padding: 5px;
}

.bss-slides {
  position: relative;
  display: block;
}
.bss-slides:focus {
  outline: 0;
}
.bss-slides figure {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bss-slides figure:first-child {
  position: relative;
}
.bss-slides figure img {
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bss-slides .bss-show {
  z-index: 2;
}
.bss-slides .bss-show img {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.bss-slides figcaption {
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}
.bss-slides .bss-show figcaption {
  z-index: 3;
  opacity: 1;
}
.bss-slides figcaption a {
  color: #fff;
}
.bss-next,
.bss-prev {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bss-next:hover,
.bss-prev:hover {
  cursor: pointer;
  opacity: 1;
}
.bss-next {
  right: -1px;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bss-prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bss-fullscreen {
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.4) url(../img/arrows-alt_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  opacity: .3;
}
.bss-fullscreen:hover {
  opacity: .8;
}
:-webkit-full-screen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
}
:-moz-full-screen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  background-size: contain;
}
:-ms-fullscreen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  background-size: contain;
}
:full-screen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
}
:-webkit-full-screen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
}
:-moz-full-screen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  background-size: contain;
}
:-ms-fullscreen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  background-size: contain;
}
:fullscreen .bss-fullscreen {
  background: rgba(0, 0, 0, 0.4) url(../img/compress_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
}
